table,th,td,tr{
    border-collapse: collapse;
    margin-top: 15%;
    font-size: 30px;
    border: 1px solid white;
    
}
table{
    width: 30%;
    height: 70%;
    border-spacing: 10px;
    
}
th{
    background-color: brown;
    color: white;
}
tr:nth-child(even){
    background-color: pink;
}
tr:nth-child(odd){
    background-color: lightcyan;
}
td{
    text-align: center;
}
a{
    color: black;
}
th,td{
    border-bottom: 1px solid rgb(247, 149, 149);
}
tr:hover {
    background-color: rgb(112, 100, 33);
}

